/*
 *  The Hypnotist
 */
.allglorytothe {
    -webkit-animation-name: spin;
    -moz-animation-name: spin;
    -o-animation-name: spin;
    -ms-animation-name: spin;
    animation-name: spin;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    -ms-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    animation-timing-function: linear;
}
.allglorytothe span:nth-of-type(1) {
    -webkit-box-shadow: -50px   -50px    0   rgb(255,255,255),-75px    0       0   rgb(0,0,0),-50px    50px    0   rgb(255,255,255),0       75px    0   rgb(0,0,0),50px    50px    0   rgb(255,255,255),75px    0       0   rgb(0,0,0),50px   -50px    0   rgb(255,255,255),0      -75px    0   rgb(0,0,0);
    -moz-box-shadow: -50px   -50px    0   rgb(255,255,255),-75px    0       0   rgb(0,0,0),-50px    50px    0   rgb(255,255,255),0       75px    0   rgb(0,0,0),50px    50px    0   rgb(255,255,255),75px    0       0   rgb(0,0,0),50px   -50px    0   rgb(255,255,255),0      -75px    0   rgb(0,0,0);
    box-shadow: -50px   -50px    0   rgb(255,255,255),-75px    0       0   rgb(0,0,0),-50px    50px    0   rgb(255,255,255),0       75px    0   rgb(0,0,0),50px    50px    0   rgb(255,255,255),75px    0       0   rgb(0,0,0),50px   -50px    0   rgb(255,255,255),0      -75px    0   rgb(0,0,0);
    top: 0;
    left: 0;
    z-index: 1;
}
.allglorytothe span:nth-of-type(2) {
    left: 50px;
    top: -50px;
    -webkit-box-shadow: -50px -25px 0 #000;
    -moz-box-shadow: -50px -25px 0 #000;
    box-shadow: -50px -25px 0 #000;
    z-index: 2;
}
.allglorytothe span:nth-of-type(3) {
    background: -webkit-gradient(radial, 75 25, 75, 75 20, 40, from(#444), to(#777)) #777;
    background: -moz-gradient(radial, 75 25, 75, 75 20, 40, from(#444), to(#777)) #777;
    background: -o-gradient(radial, 75 25, 75, 75 20, 40, from(#444), to(#777)) #777;
    background: -ms-gradient(radial, 75 25, 75, 75 20, 40, from(#444), to(#777)) #777;
    background: gradient(radial, 75 25, 75, 75 20, 40, from(#444), to(#777)) #777;
    z-index: 3;
}
.allglorytothe h2 {
    display: block;
    position: relative;
    top: 40px;
    z-index: 4;
}
@-moz-keyframes spin {
  0% {
        -webkit-transform: scale(0.4) rotate(0);
        -moz-transform: scale(0.4) rotate(0);
        -o-transform: scale(0.4) rotate(0);
        -ms-transform: scale(0.4) rotate(0);
        transform: scale(0.4) rotate(0);
    }

  50% {
        -webkit-transform: scale(0.5) rotate(-180deg);
        -moz-transform: scale(0.5) rotate(-180deg);
        -o-transform: scale(0.5) rotate(-180deg);
        -ms-transform: scale(0.5) rotate(-180deg);
        transform: scale(0.5) rotate(-180deg);
    }

  100% {
        -webkit-transform: scale(0.4) rotate(-360deg);
        -moz-transform: scale(0.4) rotate(-360deg);
        -o-transform: scale(0.4) rotate(-360deg);
        -ms-transform: scale(0.4) rotate(-360deg);
        transform: scale(0.4) rotate(-360deg);
    }
}
@-webkit-keyframes spin {
  0% {
        -webkit-transform: scale(0.4) rotate(0);
        -moz-transform: scale(0.4) rotate(0);
        -o-transform: scale(0.4) rotate(0);
        -ms-transform: scale(0.4) rotate(0);
        transform: scale(0.4) rotate(0);
    }

  50% {
        -webkit-transform: scale(0.5) rotate(-180deg);
        -moz-transform: scale(0.5) rotate(-180deg);
        -o-transform: scale(0.5) rotate(-180deg);
        -ms-transform: scale(0.5) rotate(-180deg);
        transform: scale(0.5) rotate(-180deg);
    }

  100% {
        -webkit-transform: scale(0.4) rotate(-360deg);
        -moz-transform: scale(0.4) rotate(-360deg);
        -o-transform: scale(0.4) rotate(-360deg);
        -ms-transform: scale(0.4) rotate(-360deg);
        transform: scale(0.4) rotate(-360deg);
    }
}
@-o-keyframes spin {
  0% {
        -webkit-transform: scale(0.4) rotate(0);
        -moz-transform: scale(0.4) rotate(0);
        -o-transform: scale(0.4) rotate(0);
        -ms-transform: scale(0.4) rotate(0);
        transform: scale(0.4) rotate(0);
    }

  50% {
        -webkit-transform: scale(0.5) rotate(-180deg);
        -moz-transform: scale(0.5) rotate(-180deg);
        -o-transform: scale(0.5) rotate(-180deg);
        -ms-transform: scale(0.5) rotate(-180deg);
        transform: scale(0.5) rotate(-180deg);
    }

  100% {
        -webkit-transform: scale(0.4) rotate(-360deg);
        -moz-transform: scale(0.4) rotate(-360deg);
        -o-transform: scale(0.4) rotate(-360deg);
        -ms-transform: scale(0.4) rotate(-360deg);
        transform: scale(0.4) rotate(-360deg);
    }
}
@-ms-keyframes spin {
  0% {
        -webkit-transform: scale(0.4) rotate(0);
        -moz-transform: scale(0.4) rotate(0);
        -o-transform: scale(0.4) rotate(0);
        -ms-transform: scale(0.4) rotate(0);
        transform: scale(0.4) rotate(0);
    }

  50% {
        -webkit-transform: scale(0.5) rotate(-180deg);
        -moz-transform: scale(0.5) rotate(-180deg);
        -o-transform: scale(0.5) rotate(-180deg);
        -ms-transform: scale(0.5) rotate(-180deg);
        transform: scale(0.5) rotate(-180deg);
    }

  100% {
        -webkit-transform: scale(0.4) rotate(-360deg);
        -moz-transform: scale(0.4) rotate(-360deg);
        -o-transform: scale(0.4) rotate(-360deg);
        -ms-transform: scale(0.4) rotate(-360deg);
        transform: scale(0.4) rotate(-360deg);
    }
}
@keyframes spin {
  0% {
        -webkit-transform: scale(0.4) rotate(0);
        -moz-transform: scale(0.4) rotate(0);
        -o-transform: scale(0.4) rotate(0);
        -ms-transform: scale(0.4) rotate(0);
        transform: scale(0.4) rotate(0);
    }

  50% {
        -webkit-transform: scale(0.5) rotate(-180deg);
        -moz-transform: scale(0.5) rotate(-180deg);
        -o-transform: scale(0.5) rotate(-180deg);
        -ms-transform: scale(0.5) rotate(-180deg);
        transform: scale(0.5) rotate(-180deg);
    }

  100% {
        -webkit-transform: scale(0.4) rotate(-360deg);
        -moz-transform: scale(0.4) rotate(-360deg);
        -o-transform: scale(0.4) rotate(-360deg);
        -ms-transform: scale(0.4) rotate(-360deg);
        transform: scale(0.4) rotate(-360deg);
    }
}
