@-webkit-keyframes bounce {
  0% {
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
        transform: scale(0.8);
    }

  100% {
        box-shadow: 0px 65px 20px -35px rgba(0,0,0,0.3);
        top: -50px;
        transform: scale(1);
    }
}
.bouncer {
    animation-name: bounce;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}
