/*
 *  The Doing It Wrong
 */
.derp span:nth-of-type(1) {
    background: rgba(0,0,0,0.40);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.40);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.40);
    box-shadow: 0 0 5px rgba(0,0,0,0.40);
    left: 5px;
    top: 5px;
    z-index: 1;
}
