/*
 *  The Eclipse
 */
.teamjacob span:nth-of-type(1) {
    background: #333;
    -webkit-box-shadow: 0 0 5px #333;
    -moz-box-shadow: 0 0 5px #333;
    box-shadow: 0 0 5px #333;
    left: 5px;
    top: 5px;
    z-index: 1;
}
.teamjacob:hover span:nth-of-type(1) {
    left: 60px;
    top: 90px;
}
