.venn {
    background: #963c96;
    box-shadow: 0 0 60px rgba(255,195,205,0.2), -40px 0 0 #3d1515, 0 0 40px rgba(255,195,205,0.3);
    left: 20px;
    position: relative;
}
.venn span {
    box-shadow: 0 0 60px rgba(195,195,255,0.2), 40px 0 0 #15155b, 0 0 40px rgba(195,195,255,0.3);
    left: -40px;
    z-index: 10;
}
.venn h2 {
    display: block;
    left: -20px;
    padding-top: 45px;
    position: relative;
}
