/*
 *  The Good Girl
 */
.youknowthatmikewhitemovie span {
    background: rgba(255,255,255,0.01);
    -webkit-box-shadow: inset 0 10px 20px 10px #fff, inset 0 -10px 20px 10px #fff, 0 10px 20px 10px #fff, 0 -10px 20px 10px #fff;
    -moz-box-shadow: inset 0 10px 20px 10px #fff, inset 0 -10px 20px 10px #fff, 0 10px 20px 10px #fff, 0 -10px 20px 10px #fff;
    box-shadow: inset 0 10px 20px 10px #fff, inset 0 -10px 20px 10px #fff, 0 10px 20px 10px #fff, 0 -10px 20px 10px #fff;
    -webkit-transform: scaleX(0.65) scaleY(0.2);
    -moz-transform: scaleX(0.65) scaleY(0.2);
    -o-transform: scaleX(0.65) scaleY(0.2);
    -ms-transform: scaleX(0.65) scaleY(0.2);
    transform: scaleX(0.65) scaleY(0.2);
    top: -80px;
    z-index: 1;
}
.youknowthatmikewhitemovie span:nth-of-type(2) {
    top: -81px;
    z-index: 1;
}
