@import 'nib'
/*!
 *  The Dimmer Switch
 */
.dimmer
	z-index 1000

	 h2
		opacity .01

	 &:hover
		box-shadow  0 0 50px rgba(255,255,255,.5), 0 0 200px 20px rgba(0,0,0,1), 0 0 0 9000px rgba(0,0,0,.6)

		h2
			opacity 1