@import 'nib'
/*!
 *  The Googly Eyes
 */
.googly 
	em
		box-shadow      -38px -40px 0 -9px rgba(1,1,1,1), 32px -35px 0 -9px rgba(1,1,1,1), -38px -42px 3px -10px rgba(255,255,255,.3), 32px -37px 3px -10px rgba(255,255,255,.3), -38px -42px 0px -7px rgba(1,1,1,1), 32px -37px 0px -7px rgba(1,1,1,1), -35px -40px 0px rgba(255,255,255,1), 35px -40px 0px rgba(255,255,255,1), -35px -38px 3px 1px rgba(0,0,0,.3), 35px -38px 3px 1px rgba(0,0,0,.3)
		border-radius   25px
		display     block
		height      30px
		margin      0 auto -15px
		width       40px
	
