/*
 *  The Wipeout
 */
.papapaoohmowmow
	z-index 1

	span
		background #333
		box-shadow 0 0 25px #333
		transform scale(.01)
		transition all 1.5s ease-in-out
		z-index 2
	
	h2
		display block
		height 115px
		opacity 0
		padding 35px 0 0
		position relative
		transition all 1.5s ease-in-out
		z-index 3
	
	&:hover span
		transform scale(1.1)
	
	&:hover h2
		opacity 1
	
