/*
 *  The Secret
 */
.secret 
	h2
		color #fff
		display block
		top 43px
		z-index -1
	
	em::before
		content "("
	
	h2::after
		content ")"
	
	span
		background rgba(0,0,0,.25)
		box-shadow 0 0 5px 2px rgba(0,0,0,.25)
		transform scale(.8)
	
	&:hover
		top -120px
	
		h2
			top 163px
	
		span
			top 120px