@import 'nib'
/*!
 *  The Light Source
 */
.source
    background-image        gradient(radial, 113.92761394101876 26.794258373205743, 75, 113.92761394101876 26.794258373205743, 40, from(rgb(68, 68, 68)), to(rgb(119, 119, 119))); 
    background-attachment   initial
    background-origin       initial
    background-clip         initial 
    background-color        initial
    background-position     initial initial
    background-repeat       initial initial
    
    span
        box-shadow  0 150px 20px -20px rgba(0,0,0,.2)
        top 10px
        transform scaleY(.4)
        z-index -1