@import 'nib'
/*!
 *  The Venn
 */
.venn
    background  @css{rgba(150,60,150,1)}
    box-shadow  0 0 60px @css{rgba(255,195,205,.2)}, -40px 0 0 @css{rgba(61,21,21,1)}, 0 0 40px @css{rgba(255,195,205,.3)}
    relative    left 20px
    
    h2
        position    relative
        left        -20px
        display     block
        padding-top 45px

    span
        box-shadow  0 0 60px @css{rgba(195,195,255,.2)}, 40px 0 0 @css{rgba(21,21,91,1)}, 0 0 40px @css{rgba(195,195,255,.3)}
        left        -40px
        z-index     10
        
        &:nth-of-type(1)
            z-index 10