/*
 *  The In Deep
 */
.wehavetogodeeper
	background-image gradient( radial, center 150, 0, center 150, 100, from(rgba(16,16,16,1)), to(rgba(31,31,31,1)) )

	h2
		display block
		border-radius 75px
		box-shadow 0 120px 0 -20px rgba(11,11,11,1)
		padding 75px 0 10px
		top -35px
		width 150px

	span
		z-index 30
		box-shadow 0 0 0 70px rgba(51,51,51,1)

