.darkside
	box-shadow inset 10px 0 10px 0 rgba(0,0,0,.9), inset 45px 0 15px -12px rgba(0,0,0,.3), inset 65px 0 10px -15px rgba(0,0,0,.5)

.darkside h2
	color transparent
	background-image linear-gradient(left, rgba(0,0,0,.9), rgba(0,0,0,.9) 30px, #fff 60px, #fff)
	box-shadow none
	background-clip text
	text-shadow none