.glowcamedownfromthehills
	span
		&:nth-of-type(1)
			box-shadow 0px 0px 90px 0px rgba(255,255,240,1), 10px 10px 140px 0px rgba(200,255,255,1), 0px 0px 10px 5px rgba(180,255,255,.3)

		&:nth-of-type(2)
			box-shadow -30px -15px 15px rgba(195,255,255,.8)
			transform scale(.8)
		
		&:nth-of-type(3)
			box-shadow 30px 190px 30px rgba(255,255,195,.8)
			transform scale(.3)
		
		&:nth-of-type(4)
			box-shadow 90px 30px 30px rgba(195,255,195,1)
			transform scale(.5)
		
		&:nth-of-type(5)
			box-shadow -650px -350px 100px rgba(255,235,255,1)
			transform scale(.1)
			z-index 1
		
		&:nth-of-type(5)
			box-shadow -650px -350px 300px rgba(255,255,255,3)
			transform scale(.1)
			z-index 1
		
