.matthamm
	border-radius 0

	&:after, 
	&:before
		bottom 10px
		content 'Shamelessly taken from Matt Hamm http://matthamm.com/box-shadow-curl.html'
		box-shadow 0 8px 16px rgba(0, 0, 0, .8)
		height 50%
		overflow hidden
		position absolute
		width 75%
		z-index -1
	
	&:after
		right 15px
		transform skew(20deg) rotate(10deg)
	
	&:before
		left 15px
		transform skew(-20deg) rotate(-10deg)
	
