@charset 'UTF-8';
/* 
 *  Raised shadow - no pseudo-elements needed 
 */
.raised {
  -webkit-box-shadow: 0 15px 10px -10px rgba(0,0,0,0.50), 0 1px 4px rgba(0,0,0,0.30), 0 0 40px rgba(0,0,0,0.10) inset;
  -moz-box-shadow: 0 15px 10px -10px rgba(0,0,0,0.50), 0 1px 4px rgba(0,0,0,0.30), 0 0 40px rgba(0,0,0,0.10) inset;
  box-shadow: 0 15px 10px -10px rgba(0,0,0,0.50), 0 1px 4px rgba(0,0,0,0.30), 0 0 40px rgba(0,0,0,0.10) inset;
}
