@charset 'UTF-8';
/* 
 *  Shared styles 
 */
.drop-shadow {
  position: relative;
  float: left;
  width: 40%;
  padding: 1em;
  margin: 2em 10px 4em;
  background: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.30), 0 0 40px rgba(0,0,0,0.10) inset;
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.30), 0 0 40px rgba(0,0,0,0.10) inset;
  box-shadow: 0 1px 4px rgba(0,0,0,0.30), 0 0 40px rgba(0,0,0,0.10) inset;
}
.drop-shadow:before,
.drop-shadow:after {
  content: '';
  position: absolute;
  z-index: -2;
}
.drop-shadow p {
  font-size: 16px;
  font-weight: bold;
}
