/*
 *  The Matt Hamm
 */
.matthamm{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.matthamm:after,.matthamm:before{bottom:10px;content:'Shamelessly taken from Matt Hamm http://matthamm.com/box-shadow-curl.html';-webkit-box-shadow:0 8px 16px rgba(0, 0, 0, .8);-moz-box-shadow:0 8px 16px rgba(0, 0, 0, .8);box-shadow:0 8px 16px rgba(0, 0, 0, .8);height:50%;overflow:hidden;position:absolute;width:75%;z-index:-1}
.matthamm:after{right:15px;-webkit-transform:skew(20deg) rotate(10deg);-moz-transform:skew(20deg) rotate(10deg);-o-transform:skew(20deg) rotate(10deg);-ms-transform:skew(20deg) rotate(10deg);transform:skew(20deg) rotate(10deg)}
.matthamm:before{left:15px;-webkit-transform:skew(-20deg) rotate(-10deg);-moz-transform:skew(-20deg) rotate(-10deg);-o-transform:skew(-20deg) rotate(-10deg);-ms-transform:skew(-20deg) rotate(-10deg);transform:skew(-20deg) rotate(-10deg)}
