@-webkit-keyframes orbit{0%{box-shadow:0 -100px 9px -50px rgba(0,0,0,0.6)}
10%{box-shadow:50px -75px 9px -50px rgba(0,0,0,0.6)}
20%{box-shadow:100px -20px 9px -50px rgba(0,0,0,0.6)}
30%{box-shadow:100px 20px 9px -50px rgba(0,0,0,0.6)}
40%{box-shadow:50px 75px 9px -50px rgba(0,0,0,0.6)}
50%{box-shadow:0 100px 9px -50px rgba(0,0,0,0.6)}
60%{box-shadow:-50px 75px 9px -50px rgba(0,0,0,0.6)}
70%{box-shadow:-100px 20px 9px -50px rgba(0,0,0,0.6)}
80%{box-shadow:-100px -20px 9px -50px rgba(0,0,0,0.6)}
90%{box-shadow:-50px -75px 9px -50px rgba(0,0,0,0.6)}
100%{box-shadow:0 -100px 9px -50px rgba(0,0,0,0.6)}
}.orbiter{animation-name:orbit;animation-duration:1.5s;animation-iteration-count:infinite;animation-timing-function:linear}
