.sorryaboutthisone{background:#fefd03;border-radius:0;box-shadow:150px 0 0 #0197f5,150px 150px 0 #24168f,0 150px 0 #f09d03;transform:scale(.5) translate(-75px,-75px);}
.sorryaboutthisone h2{color:#261e95;text-shadow:0 2px 1px #9ecd1f,75px 0 0 #fef900,75px 2px 1px #f10089,75px 75px 0 #92d0ff,75px 77px 1px #e844da,0 75px 0 #f2a2d7,0 77px 1px #ee0115;transform:scale(2)}
.sorryaboutthisone h2 em{color:inherit;padding-top:5px}
