.stadium span:nth-of-type(1){transform:scaleY(.3) skewX(10deg) skewY(-10deg);box-shadow:-15px 220px 20px -25px rgba(0,0,0,0.25)}
.stadium span:nth-of-type(2){transform:scaleY(.3) skewX(10deg) skewY(10deg);box-shadow:-15px 290px 20px -25px rgba(0,0,0,0.25)}
.stadium span:nth-of-type(3){transform:scaleY(.3) skewX(-10deg) skewY(10deg);box-shadow:15px 220px 20px -25px rgba(0,0,0,0.25)}
.stadium span:nth-of-type(4){transform:scaleY(.3) skewX(-10deg) skewY(-10deg);box-shadow:15px 290px 20px -25px rgba(0,0,0,0.25)}
