.wehavetogodeeper{background-image:gradient(radial,center 150,0,center 150,100,from(#101010),to(#1f1f1f));}
.wehavetogodeeper h2{display:block;border-radius:75px;box-shadow:0 120px 0 -20px #0b0b0b;padding:75px 0 10px;top:-35px;width:150px}
.wehavetogodeeper span{z-index:30;box-shadow:0 0 0 70px #333}
